{
  (
    <div class="flex flex-row items-center gap-4 mb-6">
      <a
        href={
          "https://www.youtube.com/watch?v=fZLaKFXn8sQ&list=RDfZLaKFXn8sQ&start_radio=1"
        }
        target="_blank"
      >
        <img
          alt={"ferdi ozbegen"}
          src={
            "https://i.scdn.co/image/ab67616d0000b2736447a4ef0fba264728685f35"
          }
          height={111}
          width={111}
        />
      </a>
      <div class="flex items-center">
        <span class="animate-spin mr-2">💿</span>
        <a
          href={
            "https://www.youtube.com/watch?v=fZLaKFXn8sQ&list=RDfZLaKFXn8sQ&start_radio=1"
          }
          target="_blank"
          class="flex-1 min-w-0"
        >
          <span class="block max-w-50 line-clamp-1 sm:max-w-lg sm:line-clamp-2">
            Playing <span class="font-bold">{"Özledim Seni"}</span> by
            <span class="font-bold">Atilla Kaya</span>
          </span>
        </a>
      </div>
    </div>
  )
}
