@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-geist: "Geist Mono", serif;
}

.text-grey {
  color: "#71717b";
}

.container_ {
  padding: 19px 26px;
}
